
.card__hero{
    flex: 0 0 55%;
    position: relative;
    height: 100%;
}
.card{
    width: 1060px;
    border-radius: 4px;
    display: flex;
    height: 350px;
    margin-top: 5rem;
    border: 1px black solid;
}

.card__content{
    flex: 1;
    padding: 35px 35px 25px 35px;
    text-align: center;
}

.card__image{
    display: block;
    width: 100%;
    height: 100%;
}

#rigth{
    flex-direction: row-reverse;
}




  /* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
    
    
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}    