.breakingBad__container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: #000 url('../../img/bg.jpg') no-repeat center center/cover;
    height: 100%;
    padding-bottom: 5rem;
}

.breakingBad__logo{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.breakingBad__hero{
    background: url('../../img/bb.jpg');
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .breakingBad__logo{
        width: 15rem;
    }

    .quote__container{
        width: 10rem;
    }
    .quote__text{
        font-size: 16px;
        padding-left: 1rem;
    }

    .quote__author{
        font-size: 16px;
    }

    .quote__text::before{
    content: open-quote;
    font-size: 4rem;
    color: black;
    position: absolute;
    left: -2rem;
    top: -1rem;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .breakingBad__logo{
        width: 20rem;
    }

    .quote__container{
        width: 35rem;
    }
    .quote__text{
        font-size: 20px;
        padding-left: 1rem;
    }

    .quote__author{
        font-size: 20px;
    }

    .quote__text::before{
    content: open-quote;
    font-size: 4rem;
    color: black;
    position: absolute;
    left: -2rem;
    top: -1rem;
}

.btn_breakingBad{
    font-size: 20px;
}
}