.btn_breakingBad{
    background:  -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
    background-size: 300px;
    color: #fff;
    margin-top: 3rem;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid black;
}

.btn_breakingBad:hover{
    cursor: pointer;   
}

.btn__weather{
    background: #FFFF66;  /* fallback for old browsers */
    width: 100%;
    color: black;
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
}

.btn__weather:hover{
    cursor: pointer;
    border: none;
}

.btn__weather__main{
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 80%;
    color: white;
    margin-top: 3rem;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid black;
}

.btn__weather__main:hover{
    cursor: pointer;
}

.btn__search{
    background: black;
    color: inherit;
    color:#fff;
    font-size: 1.2rem;
    padding: 0 2rem 0;
	border: none;
}

.btn__search:hover{
    cursor: pointer;
}

.btn__cocktail{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: inherit;
    color:#fff;
    font-size: 1.5rem;
    padding: 0 2rem 0;
    border: none;
    width: 18rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.btn__cocktail:hover{
    cursor: pointer;
}

.btn__searchCocktail{
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: inherit;
color:#fff;
font-size: 1.5rem;
padding: 0 2rem 0;
border: none;
width: 20rem;
}

.btn__searchCocktail:hover{
    cursor: pointer;
}

.btn__searchCocktail__main{
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: inherit;
width: 80%;
color: white;
margin-top: 3rem;
font-size: 2rem;
padding: 1rem;
border: 2px solid black;
}

.btn__searchCocktail__main:hover{
    cursor: pointer;
}

.btn__lyrics__main{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
color: inherit;
width: 80%;
color: white;
margin-top: 3rem;
font-size: 2rem;
padding: 1rem;
border: 2px solid black;
}

.btn__lyrics__main:hover{
    cursor: pointer;
}


.btn__lyrics{
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
color: inherit;
width: 20%;
color: white;
font-size: 1.5rem;
padding: 1rem;
border: 2px solid black;
}

.btn__lyrics:hover{
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { 

}